<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<infraInfra>
		{% for i in interface_profiles %}
		<infraAccPortP name="{{i.name}}">
			{% for k in i.interface_selectors %}
                        {% set description %}{%if k.description%}{{k.description}}{%else%}{{global.description}}{%endif%}{% endset %}
			<infraHPortS name="{{k.name}}" descr="{{k.description}}" type="range">
				{% for j in k.interface_ranges %}
        			{% set action %}{%if j.action%}{{j.action}}{%else%}{{global.action}}{%endif%}{% endset %}
        			{%if not j.action=="ignore"%}
        			{% set name %}{%if j.name%}{{j.name}}{%else%}{{global.name}}{%endif%}{% endset %}
				{% set description %}{%if j.description%}{{j.description}}{%else%}{{global.description}}{%endif%}{% endset %}
				{% if from_port != "" %}
				<infraPortBlk name="{{name}}" descr="{{description}}" toPort="{{to_port}}" toCard="{{slot_id}}" fromPort="{{from_port}}" fromCard="{{slot_id}}" status="{{action}}"/>
				{% endif %}{%endif%}{%endfor%}		
			</infraHPortS>
			{%endfor%}
		</infraAccPortP>
		{%endfor%}
   </infraInfra>
</polUni>
