<?xml version="1.0" encoding="UTF-8"?>
<polUni>
        <fvTenant name="{{tenant}}" >
                {% for j in l3outs %}
		<l3extOut name="{{j.name}}" status="modified">
			{% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                        {%if not action=="ignore"%}
			{% for i in j.external_epg %}
			<l3extInstP name="{{i.name}}"  status="modified">
				{% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                        	{%if not action=="ignore"%}		
				{% for k in i.consumer_contracts %}{% if k.name %}
				<fvRsCons prio="unspecified" tnVzBrCPName="{{k.name}}" intent="install"/>
				{% endif %}{% endfor %}
				{% for l in i.provider_contracts %}{% if l.name %}
				<fvRsProv prio="unspecified" tnVzBrCPName="{{l.name}}" intent="install"/>
				{% endif %}{% endfor %}
			</l3extInstP>
			{%endif%}{%endfor%}
		</l3extOut>
		{%endif%}{%endfor%}
	</fvTenant>
</polUni>
