{
	"info": {
		"_postman_id": "9a35ff0b-2b32-466d-8303-b886757f8ad4",
		"name": "test",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
	},
	"item": [
		{%for j in files%}
		{% set action %}{%if j.action%}{{j.action}}{%else%}{{global.action}}{%endif%}{% endset %}
                {%if action=="yes"%}
                {% set hostname %}{%if j.hostname%}{{j.hostname}}{%else%}{{global.hostname}}{%endif%}{% endset %}
		{% set aci_path %}{%if j.aci_path%}{{j.aci_path}}{%else%}{{global.aci_path}}{%endif%}{% endset %}
		{% set username %}{%if j.username%}{{j.username}}{%else%}{{global.username}}{%endif%}{% endset %}
		{% set password %}{%if j.password%}{{j.password}}{%else%}{{global.password}}{%endif%}{% endset %}
		{	
			"name": "{{j.name}}",
			"request": {
				"method": "POST",
				"header": [
					{
						"key": "Content-Type",
						"name": "Content-Type",
						"value": "text/xml",
						"type": "text"
					}
				],
				"body": {
					"mode": "raw",
					"raw":"{{j.path}}"
				},
				"url": {
					"raw": "https://{{hostname}}{{aci_path}}",
					"protocol": "https",
					"host": [
						"198",
						"18",
						"133",
						"200"
					],
					"path": [
						"api",
						"mo",
						"uni.xml"
					]
				}
			},
			"response": []
		},
		{%endif%}{%endfor%}
	]
}
