<?xml version="1.0" encoding="UTF-8"?>
<imdata totalCount="1">
<infraAccNodePGrp annotation="" descr="" dn="uni/infra/funcprof/accnodepgrp-leaf_switch_polgroup" name="leaf_switch_polgroup" nameAlias="" ownerKey="" ownerTag="">
  <infraRsTopoctrlFwdScaleProfPol annotation="" tnTopoctrlFwdScaleProfilePolName=""/>
  <infraRsPoeInstPol annotation="" tnPoeInstPolName=""/>
  <infraRsNetflowNodePol annotation="" tnNetflowNodePolName="default"/>
  <infraRsBfdIpv6InstPol annotation="" tnBfdIpv6InstPolName="default"/>
  <infraRsMonNodeInfraPol annotation="" tnMonInfraPolName="default"/>
  <infraRsFcInstPol annotation="" tnFcInstPolName=""/>
  <infraRsBfdIpv4InstPol annotation="" tnBfdIpv4InstPolName="default"/>
  <infraRsL2NodeAuthPol annotation="" tnL2NodeAuthPolName=""/>
  <infraRsTopoctrlFastLinkFailoverInstPol annotation="" tnTopoctrlFastLinkFailoverInstPolName=""/>
  <infraRsFcFabricPol annotation="" tnFcFabricPolName=""/>
  <infraRsIaclLeafProfile annotation="" tnIaclLeafProfileName=""/>
  <infraRsLeafCoppProfile annotation="" tnCoppLeafProfileName=""/>
  <infraRsMstInstPol annotation="" tnStpInstPolName="default"/>
</infraAccNodePGrp>
</imdata>
