<?xml version="1.0" encoding="UTF-8"?>
<polUni>
         <infraInfra>
		 <infraFuncP>
			{% for j in sw_pol_group %}
                        {% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                        {%if not action=="ignore"%}
                        {% set name %}{%if j.name%}{{j.name}}{%else%}{{default.name}}{%endif%}{% endset %}
                        {% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
			{% set netflow_node_policy %}{%if j.netflow_node_policy%}{{j.netflow_node_policy}}{%else%}{{default.netflow_node_policy}}{%endif%}{% endset %}
			{% set bfd_ipv4_policy %}{%if j.bfd_ipv4_policy%}{{j.bfd_ipv4_policy}}{%else%}{{default.bfd_ipv4_policy}}{%endif%}{% endset %}
			{% set bfd_ipv6_policy %}{%if j.bfd_ipv6_policy%}{{j.bfd_ipv6_policy}}{%else%}{{default.bfd_ipv6_policy}}{%endif%}{% endset %}
			{% set monitoring_policy %}{%if j.monitoring_policy%}{{j.monitoring_policy}}{%else%}{{default.monitoring_policy}}{%endif%}{% endset %}
			{% set stp_policy %}{%if j.stp_policy%}{{j.stp_policy}}{%else%}{{default.stp_policy}}{%endif%}{% endset %}
			<infraAccNodePGrp  descr="{{description}}" dn="uni/infra/funcprof/accnodepgrp-{{name}}" name="{{name}}"  ownerKey="" ownerTag="">
				<infraRsNetflowNodePol  tnNetflowNodePolName="{{netflow_node_policy}}"/>
				<infraRsBfdIpv6InstPol  tnBfdIpv6InstPolName="{{bfd_ipv6_policy}}"/>
				<infraRsMonNodeInfraPol  tnMonInfraPolName="{{monitoring_policy}}"/>
				<infraRsBfdIpv4InstPol  tnBfdIpv4InstPolName="{{bfd_ipv4_policy}}"/>
				<infraRsMstInstPol  tnStpInstPolName="{{stp_policy}}"/>
			</infraAccNodePGrp>
			{%endif%}{%endfor%}
		</infraFuncP>
	</infraInfra>
</polUni>
