<?xml version="1.0" encoding="UTF-8"?>
<polUni>
         <infraInfra>
                <infraFuncP>
			<infraAccNodePGrp  descr="" dn="uni/infra/funcprof/accnodepgrp-leaf_switch_polgroup" name="leaf_switch_polgroup" nameAlias="" ownerKey="" ownerTag="">
  				<infraRsTopoctrlFwdScaleProfPol  tnTopoctrlFwdScaleProfilePolName=""/>
  				<infraRsPoeInstPol  tnPoeInstPolName=""/>
  				<infraRsNetflowNodePol  tnNetflowNodePolName="default"/>
  				<infraRsBfdIpv6InstPol  tnBfdIpv6InstPolName="default"/>
  				<infraRsMonNodeInfraPol  tnMonInfraPolName="default"/>
  				<infraRsFcInstPol  tnFcInstPolName=""/>
  				<infraRsBfdIpv4InstPol  tnBfdIpv4InstPolName="default"/>
  				<infraRsL2NodeAuthPol  tnL2NodeAuthPolName=""/>
  				<infraRsTopoctrlFastLinkFailoverInstPol  tnTopoctrlFastLinkFailoverInstPolName=""/>
  				<infraRsFcFabricPol  tnFcFabricPolName=""/>
  				<infraRsIaclLeafProfile  tnIaclLeafProfileName=""/>
  				<infraRsLeafCoppProfile  tnCoppLeafProfileName=""/>
  				<infraRsMstInstPol  tnStpInstPolName="default"/>
			</infraAccNodePGrp>
		</infraFuncP>
	</infraInfra>
</polUni>
