<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	{%if not action=="ignore"%}
	<fvTenant descr="" name="{{tenant}}">
		{% for i in l3outs %}
                {% set action %}{%if i.action%}{{i.action}}{%else%}{{global.action}}{%endif%}{% endset %}
                {% set description %}{%if i.description%}{{i.description}}{%else%}{{global.description}}{%endif%}{% endset %}
		{%if not action=="ignore"%}
		<l3extOut descr="" name="{{i.name}}" status="{{action}}">
			{% for l in i.l3out_node_profiles %}
                	{% set action %}{%if l.action%}{{l.action}}{%else%}{{global.action}}{%endif%}{% endset %}
                	{% set description %}{%if l.description%}{{l.description}}{%else%}{{global.description}}{%endif%}{% endset %}
                	{%if not action=="ignore"%}
			
			<l3extLNodeP descr="" name="{{l.name}}" tag="yellow-green" targetDscp="unspecified" status="{{action}}">
				{% for j in l.nodes %}
				{% set action %}{%if j.action%}{{j.action}}{%else%}{{global.action}}{%endif%}{% endset %}
				{%if not action=="ignore"%}
				<l3extRsNodeL3OutAtt rtrId="{{j.router_id}}" rtrIdLoopBack="yes" tDn="topology/pod-1/node-{{j.node_id}}" status="{{action}}" />
				{%endif%}{%endfor%}
			</l3extLNodeP>
			{%endif%}{%endfor%}
		</l3extOut>
		{%endif%}{%endfor%}
	</fvTenant>
	{%endif%}
</polUni>
