<?xml version="1.0" ?>
<polUni>
	<infraInfra>
		{%for j in vlan_pool%}
		{% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
		{%if not action=="ignore"%}
		{% set name %}{%if j.name%}{{j.name}}{%else%}{{default.name}}{%endif%}{% endset %}
		{% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
		{% set alloc_mode %}{%if j.alloc_mode%}{{j.alloc_mode}}{%else%}{{default.alloc_mode}}{%endif%}{% endset %}
  		<fvnsVlanInstP allocMode="{{alloc_mode}}" name="{{j.name}}" status="{{action}}">
			{%for i in j.vlan_range%}
			{% set action_range %}{%if i.action%}{{i.action}}{%else%}{{default.action}}{%endif%}{% endset %}
			{%if not action_range=="ignore"%}
			{% set name_range %}{%if j.name_range%}{{j.name_range}}{%else%}{{default.name_range}}{%endif%}{% endset %}
			{% set alloc_mode_range %}{%if i.alloc_mode%}{{i.alloc_mode}}{%else%}{{default.alloc_mode}}{%endif%}{% endset %}
			<fvnsEncapBlk allocMode="{{alloc_mode_range}}" from="vlan-{{i.start_vlan}}" name="{{name_range}}" status="{{action_range}}" to="vlan-{{i.stop_vlan}}"/>
			{%endif%}{%endfor%}
		</fvnsVlanInstP>
		{%endif%}{%endfor%}
        </infraInfra>
</polUni>

