<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<fvTenant name="{{config['tenant']}}">
		<vzFilter descr="{{config['description']}}" name="{{config['name']}}" status="{{config['action']}}"></vzFilter>
	</fvTenant>
</polUni>
