<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	{% for j in phys_domain %}
	{% set action %}{%if j.action%}{{j.action}}{%else%}{{global.action}}{%endif%}{% endset %}
        {%if not action=="ignore"%}
	{% set name %}{%if j.name%}{{j.name}}{%else%}{{global.name}}{%endif%}{% endset %}
	{% set description %}{%if j.description%}{{j.description}}{%else%}{{global.description}}{%endif%}{% endset %}
    	{% set type %}{%if j.type%}{{j.type}}{%else%}{{global.type}}{%endif%}{% endset %}
    	{% if type == 'physical' %} 
    	<physDomP name="{{j.name}}" status="{{j.action}}">
	    	<infraRsVlanNs tDn="uni/infra/vlanns-{{j.vlan_pool}}-static"/> 
    	</physDomP>
    	{% elif type == 'external_l3' %}
        <l3extDomP name="{{j.name}}">
		<infraRsVlanNs tDn="uni/infra/vlanns-{{j.vlan_pool}}-static" status="{{j.action}}"/>
	</l3extDomP>
	{% elif type == 'external_l2' %}
	<l2extDomP name="{{j.name}}" >
		<infraRsVlanNs tDn="uni/infra/vlanns-{{j.vlan_pool}}-static" status="{{j.action}}"/>
	</l2extDomP>
	{% endif %}
	{%endif%}{%endfor%}
</polUni>
