<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<fvTenant name="{{config['tenant']}}">
		<vzBrCP descr="" name="{{config['name']}}" prio="unspecified" scope="{{config['scope']}}" status="{{config['action']}}">
		</vzBrCP>
	</fvTenant>
</polUni>
