<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<infraInfra>
		{% for j in lldp %}
                {% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
                {% set name %}{%if j.name%}{{j.name}}{%else%}{{default.name}}{%endif%}{% endset %}
                {% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
		<lldpIfPol adminRxSt="{{j.receive_state}}" adminTxSt="{{j.transmit_state}}" descr="{{description}}" dn="uni/infra/lldpIfP-{{j.name}}" name="{{j.name}}" ownerKey="" ownerTag="" />
		{%endif%}{%endfor%}

		{% for j in port_channel %}
                {% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
                {% set name %}{%if j.name%}{{j.name}}{%else%}{{default.name}}{%endif%}{% endset %}
                {% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
		<lacpLagPol ctrl="{{j.control}}" descr="description" dn="uni/infra/lacplagp-{{j.name}}" maxLinks="{{j.max_links}}" minLinks="{{j.min_links}}" mode="{{j.mode}}" name="{{j.name}}" ownerKey="" ownerTag="" />
		{%endif%}{%endfor%}

                {% for j in stp %}
                {% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
                {% set name %}{%if j.name%}{{j.name}}{%else%}{{default.name}}{%endif%}{% endset %}
                {% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
		<stpIfPol ctrl="{{j.control}}" descr="{{description}}" dn="uni/infra/ifPol-{{j.name}}" name="{{j.name}}" ownerKey="" ownerTag="" />
		{%endif%}{%endfor%}

                {% for j in link_level %}
                {% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
                {% set name %}{%if j.name%}{{j.name}}{%else%}{{default.name}}{%endif%}{% endset %}
                {% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
		<fabricHIfPol autoNeg="{{j.auto_negotiation}}" descr="{{description}}" dn="uni/infra/hintfpol-{{j.name}}" linkDebounce="{{j.debounce_interval}}" name="{{j.name}}" ownerKey="" ownerTag="" speed="{{j.speed}}"/>
		{%endif%}{%endfor%}

                {% for j in cdp %}
                {% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
                {% set name %}{%if j.name%}{{j.name}}{%else%}{{default.name}}{%endif%}{% endset %}
                {% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
		<cdpIfPol adminSt="{{j.admin_state}}" descr="{{description}}" dn="uni/infra/cdpIfP-{{j.name}}" name="{{j.name}}" ownerKey="" ownerTag="" />
		{%endif%}{%endfor%}

                {% for j in l2_interface %}
                {% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
                {% set name %}{%if j.name%}{{j.name}}{%else%}{{default.name}}{%endif%}{% endset %}
                {% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
		<l2IfPol descr="{{description}}" dn="uni/infra/l2IfP-{{j.name}}" name="{{j.name}}" ownerKey="" ownerTag="" vlanScope="{{j.vlan_scope}}" />
		{%endif%}{%endfor%}
	</infraInfra>
</polUni>
