<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	{%if not phys_domain.action=="ignore"%}
	{% if phys_domain.type == 'physical' %}
    	<physDomP name="{{phys_domain.name}}" status="{{phys_domain.action}}">
	    	<infraRsVlanNs tDn="uni/infra/vlanns-{{phys_domain.vlan_pool}}-static"/> 
    	</physDomP>
    	{% elif phys_domain.type == 'external_l3' %}
        <l3extDomP name="{{phys_domain.name}}">
		<infraRsVlanNs tDn="uni/infra/vlanns-{{phys_domain.vlan_pool}}-static" status="{{phys_domain.action}}"/>
	</l3extDomP>
	{% elif phys_domain.type == 'external_l2' %}
	<l2extDomP name="{{phys_domain.name}}" >
		<infraRsVlanNs tDn="uni/infra/vlanns-{{phys_domain.vlan_pool}}-static" status="{{phys_domain.action}}"/>
	</l2extDomP>
	{% endif %}
	{%endif%}
</polUni>
