<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<fvTenant name="{{config['tenant']}}">
		<vzBrCP descr="" name="{{config['contract']}}">
			<vzSubj consMatchT="AtleastOne" descr="{{config['description']}}" name="{{config['name']}}" nameAlias="" prio="unspecified" provMatchT="AtleastOne" revFltPorts="{{config['reverse_filter_ports']}}" status="{{config['action']}}" targetDscp="unspecified">
				{% if config['apply_in both_directions'] == "no" %}
				<vzOutTerm name="{{config['name']}}">
					
				</vzOutTerm>
				<vzInTerm name= "{{config['name']}}">
					
				</vzInTerm>
				{% endif %}
		</vzSubj>
		</vzBrCP>
	</fvTenant>
</polUni>
