<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<fvTenant name="mgmt">
		<mgmtMgmtP name="default">
			<mgmtInB dn="uni/tn-mgmt/mgmtp-default/inb-default">
				{% for j in inband %}
                		{% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                		{%if not action=="ignore"%}
				{% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
				{% set pod_id %}{%if j.pod_id%}{{j.pod_id}}{%else%}{{default.pod_id}}{%endif%}{% endset %}
				<mgmtRsInBStNode dn="uni/tn-mgmt/mgmtp-default/inb-default/rsinBStNode-[topology/pod-{{pod_id}}/node-{{j.node_id}}]" addr="{{j.inband_ip}}" gw="{{j.inband_gw}}" tDn="topology/pod-1/node-{{j.node_id}}" status="{{action}}">
				</mgmtRsInBStNode>	
				{% endif %}{% endfor %}
			</mgmtInB>
			<mgmtOoB dn="uni/tn-mgmt/mgmtp-default/oob-default">
				{% for j in oob %}
                                {% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                                {%if not action=="ignore"%}
                                {% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
                                {% set pod_id %}{%if j.pod_id%}{{j.pod_id}}{%else%}{{default.pod_id}}{%endif%}{% endset %}
				<mgmtRsOoBStNode dn="uni/tn-mgmt/mgmtp-default/oob-default/rsooBStNode-[topology/pod-{{pod_id}}/node-{{j.node_id}}]" addr="{{j.oob_ip}}" gw="{{j.oob_gw}}" tDn="topology/pod-1/node-{{j.node_id}}" status="{{action}}" >
				</mgmtRsOoBStNode>
				{%endif%}{%endfor%}
			</mgmtOoB>
	 	</mgmtMgmtP>
	</fvTenant>
</polUni>
