<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<fvTenant name="{{config['tenant']}}">
	 <fvAp prio="unspecified" name="{{config['app_profile']}}">
		<fvAEPg prio="unspecified" name="{{config['name']}}" matchT="AtleastOne" status="modified">
			{% if config['consumed_ctr'] == "yes" %}
			<fvRsCons prio="unspecified" tnVzBrCPName="{{config['contract']}}" status="{{config['action']}}" />
			{% endif %}
			{% if config['provided_ctr'] == "yes" %}
			<fvRsProv prio="unspecified" tnVzBrCPName="{{config['contract']}}" status="{{config['action']}}"/>
			{% endif %}
		</fvAEPg>
	 </fvAp>
	</fvTenant>
</polUni>
