<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	{%if not action=="ignore"%}
	<fvTenant name="{{tenant}}">
		{% for k in filters %}
                {% set action %}{%if k.action%}{{k.action}}{%else%}{{global.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
                {% set description %}{%if k.description%}{{k.description}}{%else%}{{global.description}}{%endif%}{% endset %}
		<vzFilter  name="{{k.name}}" status="{{action}}" >
			{% for j in k.entries %}
                        {% set action %}{%if j.action%}{{j.action}}{%else%}{{global.action}}{%endif%}{% endset %}
                        {%if not action=="ignore"%}
			{% set ether_type %}{%if j.ether_type%}{{j.ether_type}}{%else%}{{global.ether_type}}{%endif%}{% endset %}
			{% set match_only_fragments %}{%if j.match_only_fragments%}{{j.match_only_fragments}}{%else%}{{global.match_only_fragments}}{%endif%}{% endset %}
			{% set arp_flag %}{%if j.arp_flag%}{{j.arp_flag}}{%else%}{{global.arp_flag}}{%endif%}{% endset %}
			{% set match_DSCP %}{%if j.match_DSCP%}{{j.match_DSCP}}{%else%}{{global.match_DSCP}}{%endif%}{% endset %}
			{% set icmp_message %}{%if j.icmp_message%}{{j.icmp_message}}{%else%}{{global.icmp_message}}{%endif%}{% endset %}
			{% set icmpv6_message %}{%if j.icmpv6_message%}{{j.icmpv6_message}}{%else%}{{global.icmpv6_message}}{%endif%}{% endset %}
			{% set tcp_flags %}{%if j.tcp_flags%}{{j.tcp_flags}}{%else%}{{global.tcp_flags}}{%endif%}{% endset %}
			{% set stateful %}{%if j.stateful%}{{j.stateful}}{%else%}{{global.stateful}}{%endif%}{% endset %}

			{% if (ether_type == "ip") and (IP_protocol == "tcp")  %}
			<vzEntry applyToFrag="{{match_only_fragments}}" dFromPort="{{j.from_destination_port}}" dToPort="{{j.to_destination_port}}" descr="{{description}}" etherT="{{ether_type}}" icmpv4T="unspecified" icmpv6T="unspecified" matchDscp="{{match_DSCP}}" name="{{j.name}}" prot="{{IP_protocol}}" sFromPort="{{j.from_source_port}}" sToPort="{{j.to_source_port}}" stateful="{{stateful}}" tcpRules="{{tcp_flags}}" status="{{action}}"/>
			{% elif (ether_type == "ip") and (IP_protocol == "udp")  %}
			<vzEntry applyToFrag="{{match_only_fragments}}" dFromPort="{{j.from_destination_port}}" dToPort="{{j.to_destination_port}}" descr="{{description}}" etherT="{{ether_type}}" icmpv4T="unspecified" icmpv6T="unspecified" matchDscp="{{match_DSCP}}" name="{{j.name}}" prot="{{IP_protocol}}" sFromPort="{{j.from_source_port}}" sToPort="{{j.to_source_port}}" stateful="no" tcpRules="{{tcp_flags}}" status="{{action}}"/>
			{% elif (ether_type == "ip") and (IP_protocol == "icmp")  %}
			<vzEntry applyToFrag="{{match_only_fragments}}" dFromPort="unspecified" dToPort="unspecified" descr="{{description}}" etherT="{{ether_type}}" icmpv4T="{{icmp_message}}" icmpv6T="unspecified" matchDscp="{{match_DSCP}}" name="{{j.name}}" prot="{{IP_protocol}}" sFromPort="unspecified" sToPort="unspecified" stateful="no" tcpRules="" status="{{action}}"/>
			{% elif (ether_type == "ip") and (IP_protocol == "icmpv6")  %}
			<vzEntry applyToFrag="{{match_only_fragments}}" dFromPort="unspecified" dToPort="unspecified" descr="{{description}}" etherT="{{ether_type}}" icmpv4T="unspecified" icmpv6T="{{icmpv6_message}}" matchDscp="{{match_DSCP}}" name="{{j.name}}" prot="{{IP_protocol}}" sFromPort="unspecified" sToPort="unspecified" stateful="no" tcpRules="" status="{{action}}"/>
			{% elif ether_type == "arp" %}
			<vzEntry descr="{{description}}" etherT="{{ether_type}}" name="{{j.name}}" arpOpc="{{arp_flag}}" applyToFrag="no" dFromPort="unspecified" dToPort="unspecified" icmpv4T="unspecified" icmpv6T="unspecified" matchDscp="unspecified" nameAlias="" prot="unspecified" sFromPort="unspecified" sToPort="unspecified" stateful="no" tcpRules="" status="{{action}}"/>
			{% else %}
			<vzEntry descr="{{description}}" etherT="{{ether_type}}" name="{{j.name}}" applyToFrag="no" arpOpc="unspecified" dFromPort="unspecified" dToPort="unspecified" icmpv4T="unspecified" icmpv6T="unspecified" matchDscp="unspecified" nameAlias="" prot="unspecified" sFromPort="unspecified" sToPort="unspecified" stateful="no" tcpRules="" status="{{action}}"/>
			{% endif %}
			{%endif%}{%endfor%}
		</vzFilter>
		{%endif%}{%endfor%}
	</fvTenant>
	{%endif%}
</polUni>

