<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<fvTenant name="{{tenant}}">
		{% for k in app %}
		<fvAp prio="unspecified" descr = "{{description}}" name="{{k.name}}">
			{% for j in k.epg %}
                        {% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                        {%if not action=="ignore"%}

			<fvAEPg prio="unspecified" name="{{j.name}}" matchT="AtleastOne" status="{{action}}">
				{% for l in j.provider_cntr %}{%if l.name%}
				<fvRsCons prio="unspecified" annotation="" tnVzBrCPName="{{l.name}}" intent="install"/>
				{%endif%}{%endfor%}
				{% for m in j.consumer_cntr %}{%if m.name%}
				<fvRsProv prio="unspecified" matchT="AtleastOne" annotation="" tnVzBrCPName="{{m.name}}" intent="install"/>
				{%endif%}{%endfor%}
			</fvAEPg>
			{%endif%}{%endfor%}
		</fvAp>
		{%endfor%}
	</fvTenant>
	
</polUni>
