
curl -X POST -k https://{{default.hostname}}/api/aaaLogin.xml -d '< aaaUser name = "{{default.username}}" pwd = "{{default.password}}" />' -c tmp/cookie.txt
{% for j in files %}
{%if not j.path == 'none'%}
curl -b tmp/cookie.txt \
-X POST -k "https://{{default.hostname}}/api/mo/uni.xml" \
-d  '{{j.path}}'
{%endif%}
{%endfor%}

