<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<fabricInst>
		{% for j in vpc_domains %}
                {% set action %}{%if j.action%}{{j.action}}{%else%}{{global.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
		{% set name %}{%if j.name%}{{j.name}}{%else%}{{global.name}}{%endif%}{% endset %}
		{% set description %}{%if j.description%}{{j.description}}{%else%}{{global.description}}{%endif%}{% endset %}
		<fabricProtPol descr="" name="default" pairT="explicit">
			<fabricExplicitGEp id="{{j.logical_pair_id}}" name="{{j.name}}" status="{{action}}"> 
				<fabricRsVpcInstPol tnVpcInstPolName="{{j.domain_policy}}"/>
				<fabricNodePEp descr="" id="{{j.left_node_id}}" name=""/>
				<fabricNodePEp descr="" id="{{j.right_node_id}}" name=""/>
			</fabricExplicitGEp>
		</fabricProtPol>
		{%endif%}{%endfor%}
 	</fabricInst>
</polUni>
