<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	{%if not action=="ignore"%}
	<fvTenant name="{{tenant}}" status="{{action}}">
		{% for j in vrfs %}
                {% set action %}{%if j.action%}{{j.action}}{%else%}{{global.action}}{%endif%}{% endset %}
		{% set description %}{%if j.description%}{{j.description}}{%else%}{{global.description}}{%endif%}{% endset %}
		{%if not action=="ignore"%}
		{% set policy_enforcement %}{%if j.policy_enforcement%}{{j.policy_enforcement}}{%else%}{{global.policy_enforcement}}{%endif%}{% endset %}
		{% set bgp_timers %}{%if j.bgp_timers%}{{j.bgp_timers}}{%else%}{{global.bgp_timers}}{%endif%}{% endset %}
		{% set ep_retention %}{%if j.ep_retention%}{{j.ep_retention}}{%else%}{{global.ep_retention}}{%endif%}{% endset %}
		{% set monitoring_policy %}{%if j.monitoring_policy%}{{j.monitoring_policy}}{%else%}{{global.monitoring_policy}}{%endif%}{% endset %}
		{% set dns_label %}{%if j.dns_label%}{{j.dns_label}}{%else%}{{global.dns_label}}{%endif%}{% endset %}
		{% set route_tag_policy %}{%if j.route_tag_policy%}{{j.route_tag_policy}}{%else%}{{global.route_tag_policy}}{%endif%}{% endset %}

		<fvCtx descr="{{description}}" knwMcastAct="permit" name="{{j.name}}" pcEnfPref="{{policy_enforcement}}" status="{{action}}">
			<fvRsBgpCtxPol tnBgpCtxPolName="{{bgp_timers}}"/>
			<fvRsCtxToExtRouteTagPol tnL3extRouteTagPolName="{{route_tag_policy}}"/>
			<fvRsOspfCtxPol tnOspfCtxPolName="{{ospf_timers}}"/>
			<vzAny descr="" matchT="AtleastOne" name=""/>
			<fvRsCtxToEpRet tnFvEpRetPolName="{{ep_retention}}"/>
		</fvCtx>
		{%endif%}{%endfor%}
	</fvTenant>
	{%endif%}
</polUni>
