<?xml version="1.0" encoding="UTF-8"?>
<polUni>
<vmmProvP vendor="VMware">
	{% for j in vmm_domain %}
	{% set action %}{%if j.action%}{{j.action}}{%else%}{{global.action}}{%endif%}{% endset %}
	{%if not j.action=="ignore"%}
	{% set name %}{%if j.name%}{{j.name}}{%else%}{{global.name}}{%endif%}{% endset %}
	{% set description %}{%if j.description%}{{j.description}}{%else%}{{global.description}}{%endif%}{% endset %}
	{% set vlan_dynamic_pool %}{%if j.vlan_dynamic_pool%}{{j.vlan_dynamic_pool}}{%else%}{{global.vlan_dynamic_pool}}{%endif%}{% endset %}
	{% set vcenter_hostname_ip %}{%if j.vcenter_hostname_ip%}{{j.vcenter_hostname_ip}}{%else%}{{global.vcenter_hostname_ip}}{%endif%}{% endset %}
	{% set vcenter_controller_name %}{%if j.vcenter_controller_name%}{{j.vcenter_controller_name}}{%else%}{{global.vcenter_controller_name}}{%endif%}{% endset %}
	{% set name %}{%if j.name%}{{j.name}}{%else%}{{global.name}}{%endif%}{% endset %}
	{% set vcenter_credential_profile %}{%if j.vcenter_credential_profile%}{{j.vcenter_credential_profile}}{%else%}{{global.vcenter_credential_profile}}{%endif%}{% endset %}
	{% set vcenter_username %}{%if j.vcenter_username%}{{j.vcenter_username}}{%else%}{{global.vcenter_username}}{%endif%}{% endset %}
	{% set vcenter_password %}{%if j.vcenter_password%}{{j.vcenter_password}}{%else%}{{global.vcenter_password}}{%endif%}{% endset %}

	<vmmDomP   enfPref="hw" mcastAddr="0.0.0.0" mode="default" name="{{name}}" status="{{action}}">
		<vmmRsDefaultStpIfPol tnStpIfPolName="default"/>
		<vmmRsDefaultFwPol tnNwsFwPolName="default"/>
		<infraRsVlanNs tDn="uni/infra/vlanns-[{{vlan_dynamic_pool}}]-dynamic"/>
		<vmmCtrlrP dvsVersion="unmanaged" hostOrIp="{{vcenter_hostname_ip}}" inventoryTrigSt="untriggered" mode="default" msftConfigIssues="" name="{{vcenter_controller_name}}" port="0" rootContName="{{vcenter_datacenter_name}}" scope="vm" statsMode="disabled">
		 <vmmRsAcc tDn="uni/vmmp-VMware/dom-{{name}}/usracc-{{vcenter_credential_profile}}"/>
		</vmmCtrlrP>
		<vmmRsDefaultLldpIfPol tnLldpIfPolName="default"/>
		<vmmRsDefaultCdpIfPol tnCdpIfPolName="default"/>
		<vmmRsDefaultLacpLagPol tnLacpLagPolName="default"/>
		<vmmRsDefaultL2InstPol tnL2InstPolName="default"/>
		<vmmUsrAccP descr="{{description}}" name="{{vcenter_credential_profile}}" usr="{{vcenter_username}}" pwd="{{vcenter_password}}"/>
	</vmmDomP>
	{%endif%}{%endfor%}
 </vmmProvP>
</polUni>
