<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<ctrlrInst>
		<fabricNodeIdentPol>
			{% for j in nodes %}
                	{% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                	{%if not action=="ignore"%}
                	{% set name %}{%if j.name%}{{j.name}}{%else%}{{default.name}}{%endif%}{% endset %}
			{% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
			{% set role %}{%if j.role%}{{j.role}}{%else%}{{default.role}}{%endif%}{% endset %}
			{% set pod_id %}{%if j.pod_id%}{{j.pod_id}}{%else%}{{default.pod_id}}{%endif%}{% endset %}
			<fabricNodeIdentP serial="{{j.serial_number}}" name="{{j.name}}" nodeId="{{j.node_id}}" podId="{{pod_id}}" role="{{role}}" descr="description" status="{{action}}"/>
		{%endif%}{%endfor%}
	</fabricNodeIdentPol>
	</ctrlrInst>
</polUni>
