<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<infraInfra>
		{% for i in fexes %}
                {% set action %}{%if i.action%}{{i.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
                {% set description %}{%if i.description%}{{i.description}}{%else%}{{default.description}}{%endif%}{% endset %}
		<infraNodeP name="{{i.name}}" status="{{action}}">
			{% for k in i.fex_selectors %}
                        {% set action %}{%if k.action%}{{k.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                        {% set description %}{%if k.description%}{{k.description}}{%else%}{{default.description}}{%endif%}{% endset %}
			{%if not action=="ignore"%}
			<infraRsAccPortP tDn="uni/infra/acccardprof-leaf{{k.name}}" />
                        <infraRsAccCardP tDn="uni/infra/acccardprof-leaf{{k.access_module}}" />

			<infraLeafS descr="{{description}}" name="{{k.name}}" type="range">
				{% for j in k.fex_ranges %}
                                {% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                                {%if not action=="ignore"%}
                                {% set name %}{%if j.name%}{{j.name}}{%else%}{{default.name}}{%endif%}{% endset %}
                                {% set description %}{%if j.description%}{{j.description}}{%else%}{{default.description}}{%endif%}{% endset %}
				<infraNodeBlk from_="{{j.parent_leaf_id}}" name="bl{{j.parent_leaf_id}}" to_="{{j.parent_leaf_id}}" />
				{%endif%}{%endfor%}
			</infraLeafS>
    		</infraNodeP>
		<infraAccCardP descr="{{description}}" name="{{k.access_module}}" ownerKey="" ownerTag="" status="{{action}}">
			<infraCardS descr="{{description}}" name="{{k.card_selector}}" ownerKey="" ownerTag="" type="chExtender">
				<infraRsCardPGrp tDn="uni/infra/funcprof/acccardpgrp-leaf{{k.access_card}}" />
      			</infraCardS>
    		</infraAccCardP>
    		<infraFuncP>
			<infraAccCardPGrp descr="{{description}}" name="{{k.access_card}}" ownerKey="" ownerTag="" status="{{action}}" />
    		</infraFuncP>
    		<infraAccPortP name="{{k.if_selector}}" ownerKey="" ownerTag="" status="{{action}}">
      			<infraHPortS descr="{{description}}" name="Fex{{k.fex_id}}" ownerKey="" ownerTag="" type="range">
        			<infraRsAccBaseGrp fexId="{{k.fex_id}}" tDn="uni/infra/fexprof-leaf{{k.parent_leaf_id}}_fex{{k.fex_id}}_fexprofile/fexbundle-fex{{k.fex_id}}_Bndle" />
				<infraPortBlk fromCard="{{k.from_slot}}" fromPort="{{k.from_port}}" name="block{{k.from_port}}{{k.to_port}}" toCard="{{k.to_slot}}" toPort="{{k.to_port}}" />
      			</infraHPortS>
    		</infraAccPortP>
		<infraFexP name="{{k.name}}" ownerKey="" ownerTag="" status="{{action}}">
      			<infraFexBndlGrp name="fex{{k.fex_id}}_Bndle" ownerKey="" ownerTag="" />
		</infraFexP>
		{%endif%}{%endfor%}{%endif%}{%endfor%}
  	</infraInfra>
</polUni>
