<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<infraInfra>
		{% for j in fexes %}
                {% set action %}{%if j.action%}{{j.action}}{%else%}{{global.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
                {% set name %}{%if j.name%}{{j.name}}{%else%}{{global.name}}{%endif%}{% endset %}
                {% set description %}{%if j.description%}{{j.description}}{%else%}{{global.description}}{%endif%}{% endset %}
    		<infraNodeP name="leaf_{{j.parent_leaf_id}}_fex_swprof" status="{{action}}">
      			<infraLeafS descr="" name="leaf{{j.parent_leaf_id}}_swsel" type="range">
        			<infraNodeBlk from_="{{j.parent_leaf_id}}" name="bl{{j.parent_leaf_id}}" to_="{{j.parent_leaf_id}}" />
      			</infraLeafS>
      			<infraRsAccPortP tDn="uni/infra/accportprof-leaf{{j.parent_leaf_id}}_fex_ifselector" />
      			<infraRsAccCardP tDn="uni/infra/acccardprof-leaf{{j.parent_leaf_id}}_access_module" />
    		</infraNodeP>
    		<infraAccCardP descr="" name="leaf{{j.parent_leaf_id}}_access_module" ownerKey="" ownerTag="" status="{{action}}">
      			<infraCardS descr="" name="leaf{{j.parent_leaf_id}}FexCardSelector" ownerKey="" ownerTag="" type="chExtender">
        			<infraRsCardPGrp tDn="uni/infra/funcprof/acccardpgrp-leaf{{j.parent_leaf_id}}_access_card" />
      			</infraCardS>
    		</infraAccCardP>
    		<infraFuncP>
      			<infraAccCardPGrp descr="" name="leaf{{j.parent_leaf_id}}_access_card" ownerKey="" ownerTag="" status="{{action}}" />
    		</infraFuncP>
    		<infraAccPortP name="leaf{{j.parent_leaf_id}}_fex_ifselector" ownerKey="" ownerTag="" status="{{action}}">
      			<infraHPortS descr="" name="Fex{{j.fex_id}}" ownerKey="" ownerTag="" type="range">
        			<infraRsAccBaseGrp fexId="{{j.fex_id}}" tDn="uni/infra/fexprof-leaf{{j.parent_leaf_id}}_fex{{j.fex_id}}_fexprofile/fexbundle-fex{{j.fex_id}}_Bndle" />
				<infraPortBlk fromCard="{{j.from_slot}}" fromPort="{{j.from_port}}" name="block{{j.from_port}}{{j.to_port}}" toCard="{{j.to_slot}}" toPort="{{j.to_port}}" />
      			</infraHPortS>
    		</infraAccPortP>
    		<infraFexP name="leaf{{j.parent_leaf_id}}_fex{{j.fex_id}}_fexprofile" ownerKey="" ownerTag="" status="{{action}}">
      			<infraFexBndlGrp name="fex{{j.fex_id}}_Bndle" ownerKey="" ownerTag="" />
		</infraFexP>
		{%endif%}{%endfor%}
  	</infraInfra>
</polUni>
