<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	{%if not action=="ignore"%}
	<fvTenant descr="{{description}}" name="{{tenant}}">
		{% for i in l3outs %}
                {% set action %}{%if i.action%}{{i.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                {% set description %}{%if i.description%}{{i.description}}{%else%}{{default.description}}{%endif%}{% endset %}
		{%if not action=="ignore"%}
		<l3extOut descr="{{description}}" name="{{i.name}}" status="{{action}}">
			{% for l in i.l3out_node_profiles %}
                	{% set action %}{%if l.action%}{{l.action}}{%else%}{{default.action}}{%endif%}{% endset %}
                	{% set description %}{%if l.description%}{{l.description}}{%else%}{{default.description}}{%endif%}{% endset %}
                	{%if not action=="ignore"%}
			
			<l3extLNodeP descr="{{description}}" name="{{l.name}}" tag="yellow-green" targetDscp="unspecified" status="{{action}}">
				{% for j in l.nodes %}
				{% set action %}{%if j.action%}{{j.action}}{%else%}{{default.action}}{%endif%}{% endset %}
				{%if not action=="ignore"%}
				<l3extRsNodeL3OutAtt rtrId="{{j.router_id}}" rtrIdLoopBack="yes" tDn="topology/pod-1/node-{{j.node_id}}" status="{{action}}" />
				{%endif%}{%endfor%}
				
				{% for n in l.l3out_int_profilces %}
                                {% set action %}{%if n.action%}{{n.action}}{%else%}{{default.action}}{%endif%}{% endset %}
				{%if not action=="ignore"%}
				{% set pod_id %}{%if n.pod_id%}{{n.pod_id}}{%else%}{{default.pod_id}}{%endif%}{% endset %}
				<l3extLIfP descr="{{description}}" name="{{n.name}}" tag="yellow-green" status="{{action}}">
					{%for p in n.nodes %}
					{% set action %}{%if p.action%}{{p.action}}{%else%}{{default.action}}{%endif%}{% endset %}
	                                {%if not action=="ignore"%}

					{% if p.type=="PC" %s} 
					<l3extRsPathL3OutAtt descr="{{description}}"  targetDscp="unspecified" tDn="topology/pod-{{pod-id}}/paths-{{p.node_id}}/pathep-[{{p.int_pol_group}}]" mtu="inherit" mode="regular" llAddr="0.0.0.0"  ifInstT="ext-svi" encapScope="local" encap="{{p.vlan_id}}" autostate="disabled" addr="{{p.ip_address">
					{% elif p.type=="vPC" %s}
					<l3extRsPathL3OutAtt addr="0.0.0.0" descr="{{description}}" encap="vlan-{{n.vlan_id}}" encapScope="local" ifInstT="ext-svi" llAddr="::" mode="regular" mtu="1500" tDn="topology/pod-{{pod_id}}/protpaths-{{n.left_node_id}}-{{n.right_node_id}}/pathep-{{n.int_pol_group}}" targetDscp="unspecified">
			  			<l3extMember addr="{{n.svi_1}}" descr="{{description}}" llAddr="::" name="" side="A" />
			  			<l3extMember addr="{{n.svi_2}}" descr="{{description}}" llAddr="::" name="" side="B" />
					</l3extRsPathL3OutAtt>
					{%endif%}{%endif%}{%endfor%}
				</l3extLIfP>
				{%endif%}{%endfor%}
			</l3extLNodeP>
			{%endif%}{%endfor%}
		</l3extOut>
		{%endif%}{%endfor%}
	</fvTenant>
	{%endif%}
</polUni>
