<?xml version="1.0" encoding="UTF-8"?>
<polUni>
<vmmProvP vendor="VMware">
	{%if not vmm_domain.action=="ignore"%}
	<vmmDomP   enfPref="hw" mcastAddr="0.0.0.0" mode="default" name="{{vmm_domain.name}}" status="{{vmm_domain.action}}">
		<vmmRsDefaultStpIfPol tnStpIfPolName="default"/>
		<vmmRsDefaultFwPol tnNwsFwPolName="default"/>
		<infraRsVlanNs tDn="uni/infra/vlanns-[{{vmm_domain.vlan_dynamic_pool}}]-dynamic"/>
		<vmmCtrlrP dvsVersion="unmanaged" hostOrIp="{{vmm_domain.vcenter_hostname_ip}}" inventoryTrigSt="untriggered" mode="default" msftConfigIssues="" name="{{vmm_domain.vcenter_controller_name}}" port="0" rootContName="{{vmm_domain.vcenter_datacenter_name}}" scope="vm" statsMode="disabled">
		 <vmmRsAcc tDn="uni/vmmp-VMware/dom-{{vmm_domain.name}}/usracc-{{vmm_domain.vcenter_credential_profile}}"/>
		</vmmCtrlrP>
		<vmmRsDefaultLldpIfPol tnLldpIfPolName="default"/>
		<vmmRsDefaultCdpIfPol tnCdpIfPolName="default"/>
		<vmmRsDefaultLacpLagPol tnLacpLagPolName="default"/>
		<vmmRsDefaultL2InstPol tnL2InstPolName="default"/>
		<vmmUsrAccP descr="{{vmm_domain.description}}" name="{{vmm_domain.vcenter_credential_profile}}" usr="{{vmm_domain.vcenter_username}}" pwd="{{vmm_domain.vcenter_password}}"/>
	</vmmDomP>
	{%endif%}
 </vmmProvP>
</polUni>
