<?xml version="1.0" encoding="UTF-8"?>
<polUni>
	<infraInfra>
		{% for j in interface_profiles %}
                {% set action %}{%if j.action%}{{j.action}}{%else%}{{global.action}}{%endif%}{% endset %}
                {%if not action=="ignore"%}
		{% set name %}{%if j.name%}{{j.name}}{%else%}{{global.name}}{%endif%}{% endset %}
		{% set description %}{%if j.description%}{{j.description}}{%else%}{{global.description}}{%endif%}{% endset %}
		<infraAccPortP name="{{name}}" status="{{action}}">
		</infraAccPortP>
		{%endif%}{%endfor%}
   	</infraInfra>
</polUni>
